@import "material-icons.scss";
@import "variables.scss";
@import url('https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900');
html, body, main {
    font-family: 'Raleway', sans-serif;
    width: 100vw;
    height: 100vh;
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -ms-touch-select: none;
    -webkit-user-select: none;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    position: relative;
}
.full-width {
    width: 100%;
}
.half-width {
    width: 50%;
}
.quarter-width {
    width: 25%;
}
.full-height {
    height: 100%;
}
.half-height {
    height: 50%;
}
.quarter-height {
    height: 25%;
}
.hide {
    display: none;
}
.no-margin {
    margin: 0;
}
.no-padding {
    padding: 0;
}
.no-border {
    border: none;
}
.no-border-radius {
    border-radius: 0;
}
.no-outline {
    outline: none;
}
.no-ul-bullets {
    list-style-type: none;
}
.no-background {
    background: none;
}
.no-background-color {
    background-color: transparent;
}
.relative {
    position: relative;
}
.absolute {
    position: absolute;
}
.fixed {
    position: fixed;
}
.position-top {
    top: 0;
}
.position-right {
    right: 0;
}
.position-bottom {
    bottom: 0;
}
.position-left {
    left: 0;
}
.position-all {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.margin-1em {
    margin: 1em;
}
.padding-1em {
    padding: 1em;
}
.word-wrap {
    word-wrap: break-word;
}
.center {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.center-horizontally {
    left: 50%;
    transform: translateX(-50%);
}
.center-vertically {
    top: 50%;
    transform: translateY(-50%);
}
.center-text {
    text-align: center;
}
.left-text {
    text-align: left;
}
.right-text {
    text-align: right;
}
.left {
    float: left;
}
.right {
    float: right;
}
.mt-1em {
    margin-top: 1em;
}
.mr-1em {
    margin-right: 1em;
}
.mb-1em {
    margin-bottom: 1em;
}
.ml-1em {
    margin-left: 1em;
}
.pt-1em {
    padding-top: 1em;
}
.pr-1em {
    padding-right: 1em;
}
.pb-1em {
    padding-bottom: 1em;
}
.pl-1em {
    padding-left: 1em;
}
.mi {
    cursor: pointer;
}
.thin-text {
    font-weight: lighter;
}
.normal-text {
    font-weight: normal;
}
.bold-text {
    font-weight: bold;
}
.bolder-text {
    font-weight: bolder;
}
.boldest-text {
    font-weight: 900;
}
.italic-text {
    font-style: italic;
}
.underline-text {
    text-decoration: underline;
}
.text-indent-1em {
    text-indent: 1em;
}
.white-background {
    background-color: white;
}
.black-background {
    background-color: black;
}
.white-text {
    color: $text;
}
.black-text {
    color: $black-text;
}
.primary-text {
    color: $primary-text;
}
.secondary-text {
    color: $secondary-text;
}
.divider {
    height: 1px;
    box-shadow: $shadow-1px;
}
.bottom-shadow {
    box-shadow: $shadow-1px;
}
.ripple {
    position: relative;
    overflow: hidden;
    &:after {
        content: "";
        background-color: rgba(0, 0, 0, .2);
        display: block;
        position: absolute;
        border-radius: 50%;
        padding-top: 240%;
        padding-left: 240%;
        margin-top: -120%;
        margin-left: -120%;
        opacity: 0;
        transition: 1s;
    }
    &:active:after {
        padding-top: 0;
        padding-left: 0;
        margin-top: 0;
        margin-left: 0;
        opacity: 1;
        transition: 0s;
    }
}
input {
    font-family: 'Raleway', sans-serif;
    border: none;
    outline: none;
}
icon {
    @extend .mi;
    transition: all .3s cubic-bezier(.77, .2, .25, 1);
}
.icon-rotated-90deg {
    transform: rotate(90deg);
}
.icon-rotated-135deg {
    transform: rotate(135deg);
}
.icon-rotatedX-180deg {
    transform: rotateX(180deg);
}