/* Colors */
$dark-primary-color: #303F9F;
$light-primary-color: #C5CAE9;
$primary-color: #3F51B5;
$accent-color: #448AFF;
$divider-color: #BDBDBD;
$danger-color: #F44336;
$text: #FFFFFF;
$black-text: #000000;
$primary-text: #212121;
$secondary-text: #757575;

/* Shadows */
$shadow-1px: 0 1px 1px rgba(0, 0, 0, .10), 0 1px 1px rgba(0, 0, 0, .16);
$fab-shadow-normal: 0 3px 6px rgba(0, 0, 0, .16), 0 3px 6px rgba(0, 0, 0, .23);
$fab-shadow-raised: 0 10px 20px rgba(0, 0, 0, .19), 0 6px 6px rgba(0, 0, 0, .23);

/* Dimensions */
$header-height: 56px;
$footer-height: 48px;